# Credentials
kaggle.json
.env
*.env

# Data
data/raw/

# Model checkpoints
results/checkpoints/

# Python
__pycache__/
*.pyc
*.pth          # checkpoints de modelos
*.h5

# Jupyter
.ipynb_checkpoints/

# Environments
venv/
.conda/

